.root {
    background-image: linear-gradient(to bottom right,#D45769,#E69D45);
    opacity:1.0;
    position: fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
}
.root::-webkit-scrollbar {
    display: none;
}

/*
==== Title ====
*/
.title-container {

    text-align: center;

}

.title {
    font-family: sans-serif;
    font-size: 45pt;
    font-weight: 80;
}

/*
==== Search Bar ====
*/

.search-bar-container {
    height: 100px;
}

input.search-bar {
    width: 60%;
    height: 90px;
    margin-right: 20%;
    margin-left: 20%;
    align-content: center;
    text-align: center;
    border-width: 0px;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 30pt;
    font-weight: 80;
    outline: none;
    box-shadow: 1px 1px 1px 1px rgb(0.0, 0.0, 0.0, 0.5);
}

/*
==== Chord View ====
*/


.table-scroll {
    overflow: auto;
    width: 100%;
    white-space: nowrap;
    -ms-overflow-style: none;
}

.table-scroll::-webkit-scrollbar {
    display: none;
}

.chord-table {
    width: 100%;
    height: 100%;
    display: table;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 6%;
}

.chord-view-cell {
    width: 250px;
    height: 400px;
    padding-left: 8%;
    padding-right: 8%
}

.chord-view {
    box-shadow: 1px 1px 1px 1px rgb(0.0, 0.0, 0.0, 0.5);
    border-width: 0px;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    background-color:#455054;
    bottom: 0;
    display: table-column;
    width: 100%;
    height: 85%;
}
.header {
    fill: #D4CFC9;
    width: 100%;
    height: 4%;
}

.fret {
    fill: rgb(15, 207, 255);
    width: 100%;
    height: 2%;
}
.fret-shadow {
    width: 100%;
    height: 2.2%;
    filter: drop-shadow( 2px 2px 2px 2px rgb(0.0, 0.0, 0.0, 0.5));
    -webkit-filter: drop-shadow( 2px 2px 2px 2px rgb(0.0, 0.0, 0.0, 0.5));
}

.open-string {
    fill: #308695;
    width: 4%;
    height: 100%;
}
.muted-string {
    fill: #455054;
    width: 4%;
    height: 100%;
}

.string-shadow {
    width: 4.2%;
    height: 100%;
    filter: drop-shadow( 2px 2px 2px 2px rgb(0.0, 0.0, 0.0, 0.5));
    -webkit-filter: drop-shadow( 2px 2px 2px 2px rgb(0.0, 0.0, 0.0, 0.5));
}

.position {

    fill: #E69D45;

}

.chord-name {
    text-align: center;
    font-family: sans-serif;
    font-size: 40pt;
    font-weight: 80;
    width: 100%;
    padding-top: 2%;
    display: inline-block;
}
