<div class="root">
    <div class="signup-container">
        <form (submit)="createNewUser($event)">
                <p><input class="signup" type="text" placeholder="username" id="username"></p>
                <p><input class="signup" type="text" placeholder="first name" id ="first_name"></p>
                <p><input class="signup" type="text" placeholder="last name" id ="last_name"></p>
                <p><input class="signup" type="password" placeholder="password" id ="password1"></p>
                <p><input class="signup" type="password" placeholder="re-enter password" id ="password2"></p>
                <input class="button" type="submit" value="Sign Up">
        </form>
    </div>
</div>