
<!-- [(ngModel)]="username"
[(ngModel)]="password" -->


<form (submit)="loginUser($event)">
   <p>Username: <input type="text" placeholder="username"></p>
   <p>Password: <input type="text" placeholder="password"></p>
   <input type="submit" value="Login">
</form>


<form (submit)="createNewUser()">
        <p>Username: <input type="text" placeholder="username"></p>
        <p>Password: <input type="text" placeholder="password"></p>
        <input type="submit" value="Register Account">
</form>


